numpy==2.0.0
open3d==0.18.0
opencv_python_headless==4.10.0.84
Pillow==10.4.0
Requests==2.32.3
streamlit==1.35.0
streamlit_lottie==0.0.5
tensorflow==2.16.1
tensorflow_intel==2.16.1
torch==2.3.1+cpu
transformers==4.41.2
